<a href="../menu.php"><i class="bi bi-house"></i></a>  <a href="create"><i class="bi bi-plus-circle"></i></a>
<a href="../profile.php"><i class="bi bi-person-circle"></i></a>  <a href="../logout.php"><i class="bi bi-box-arrow-left"></i></a>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>No.</th>
        <th>Phone</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {{# rooms }}
        <tr>
            <td><a href="{{ roomDetailName }}?room_id={{ room_id }}">{{ name }}</a></td>
            <td>{{ no }}</td>
            <td>{{ phone }}</td>
            <td><form action="delete.php" method="post" onsubmit="return confirm('Really delete?\n\n this action cannot be undone!');" style="display: inline-block;">
                <input type="hidden" name="room_id" value="{{ room_id }}" {{admin}}/>
                <input type="submit" value="Delete" class="btn btn-danger" {{admin}}>
            </form>
                <button class="btn btn-info"{{admin}}><a href="update.php?room_id={{ room_id }}" class="text-decoration-none">Edit</a></button></td>
        </tr>
    {{/rooms}}
    </tbody>
</table>